.card
  .card-block
    h5.pull-right.text-muted {{ order.area }}
    h4.card-title {{ order.order_number }}
    p amount: {{ order.total | currency : "&#8377 " }}
  .card-footer.text-right(ng-if='showAccept || showCancel')
    .btn-group
      button.btn.btn-secondary(ng-if='showCancel') Cancel
      button.btn.btn-success(ng-if='showAccept') Accept
