.card
  .card-block
    button.pull-right.btn.btn-link.text-muted(ui-sref='^')
      i.fa.fa-times.fa-lg
    h2.card-title
      | {{ details.order_number }}
      small.text-muted &nbsp {{ details.timestamp.$date | date }}
.card
  .card-block
    h4.card-title Order

    // Order table
    table.table
      thead.thead-default
        tr
          th #
          th Item
          th Size/Option
          th Price
          th Qty
          th Total
      tbody
        tr(ng-repeat-start='item in order')
          td {{ $index + 1 }}
          td {{ item.name }}
          td {{ item.size }}
          td {{ item.base_price }}
          td {{ item.quantity }}
          td {{ item.sub_total }}
        tr(ng-repeat-end ng-repeat='sel in item.custom')
          td
          td -- {{ sel.name }}
          td
          td {{ sel.price }}
          td
          td

.card.card-info
  .card-block
    h4.card-title Customer Information

    div.p-x-lg
      dl.dl-horizontal
        dt.col-sm-3 Name:
        dd.col-sm-9 {{ details.name }}

        dt.col-sm-3 Phone:
        dd.col-sm-9 {{ details.phone }}

        dt.col-sm-3 Email:
        dd.col-sm-9 {{ details.email }}

        dt.col-sm-3 Address:
        dd.col-sm-9 {{ details.address }}
