nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  // TODO, get the brand stuff along
  .container
    a.navbar-brand {{ merchant_name }}
    ul.nav.navbar-nav
      li.nav-item(ng-class="{'active': stateCheck('tabs.new')}")
        a.nav-link(ui-sref='tabs.new') New orders
      li.nav-item(ng-class="{'active': stateCheck('tabs.current')}")
        a.nav-link(ui-sref='tabs.current') Current orders
      li.nav-item(ng-class="{'active': stateCheck('tabs.past')}")
        a.nav-link(ui-sref='tabs.past') Past orders
.row.full-screen
  ui-view(name='new_tab')
  ui-view(name='cur_tab')
  ui-view(name='pas_tab')
