ion-view(title="Tabs Controller")
  ion-tabs.tabs-royal.tabs-icon-top
    ion-tab(title='New' icon-on='ion-ios-bell' icon-off='ion-ios-bell-outline' href='#/tab/new')
      ion-nav-view(name='tab1')
    ion-tab(title='Current' icon-on='ion-ios-stopwatch' icon-off='ion-ios-stopwatch-outline' href='#/tab/current')
      ion-nav-view(name='tab2')
    ion-tab(title='Past' icon-on='ion-ios-checkmark' icon-off='ion-ios-checkmark-outline' href='#/tab/past')
      ion-nav-view(name='tab3')
