ion-view(title="Change password" cache-view='false')
  ion-content(padding='true').has-header
    form(ng-submit='submit()').list
      ion-list
        label.item.item-input
          span.input-label Username
          input(type='text' ng-model='data.username' readonly required)
        label.item.item-input
          span.input-label Old password
          input(type='password' ng-model='data.old_pass' required)
        label.item.item-input
          span.input-label New password
          input(type='password' ng-model='data.new_pass' required)
        label.item.item-input
          span.input-label Confirm
          input(type='password' ng-model='data.new_pass_r' required)
      #loginPageSpacer.spacer
      .button-bar
        a.button.button-stable(ng-disabled='loading' ng-click='cancel()') Cancel
        button.button.button-positive(type='submit' ng-disabled='loading') Submit
    .text-center
      ion-spinner(ng-if='loading' icon='lines')
