ion-view(title="Login")
  ion-content(padding='true').has-header
    form.list
      ion-list
        label.item.item-input
          span.input-label Username
          input(type='text')
        label.item.item-input
          span.input-label Password
          input(type='password')
      #loginPageSpacer.spacer
      button.button.button-stable.button-block Log in
