ion-view(title="Login")
  ion-content(padding='true').has-header
    form(ng-submit='submit()').list
      ion-list
        label.item.item-input
          span.input-label Username
          input(type='text' ng-model='data.username' required)
        label.item.item-input
          span.input-label Password
          input(type='password' ng-model='data.password' required)
      #loginPageSpacer.spacer
      button.button.button-stable.button-block(type='submit') Log in
