ion-view(title='New orders')
  ion-content(padding='true').has-header
    ion-list
      order-card(ng-repeat='order in orders'
      details-state='"tabs.new.details"'
      show-accept='true'
      show-cancel='true'
      order='order')
