ion-view(title='Order details' cache-view="false")
  ion-content(padding='false' ng-class="{'center': loading}").has-header
    div(ng-if='loading')
      div.text-center
        ion-spinner(icon='lines')
      span.calm loading the order details, please wait

    .list(ng-if='!loading')
      // Order header
      .item.item-divider
        .pull-right.calm.text-small {{ details.timestamp.$date | date }}
        | {{ details.order_number }}
      .item.text-center
        strong status: &nbsp
        span(ng-class='get_color(details.status)') {{ "order " + details.status | uppercase }}
      .item.tabs.tabs-icon-left(ng-if='details.status == "placed"')
        a.tab-item(ng-click='update_status("cancelled")')
          i.icon.ion-close
          | Cancel
        a.tab-item.balanced(ng-click='update_status("accepted")')
          i.icon.ion-checkmark
          | Accept
      .item.tabs.tabs-icon-left(ng-if='details.status == "accepted"')
        a.tab-item.energized(ng-disabled='details.status == "delayed" || details.status == "ready"' ng-click='update_status("delayed")')
          i.icon.ion-alert
          | Delay
        a.tab-item.balanced(ng-disabled='details.status == "ready"' ng-click='update_status("ready")')
          i.icon.ion-checkmark
          | Ready
        a.tab-item.positive(ng-click='update_status("delivered")')
          i.icon.ion-paper-airplane
          | Deliver

      // Actual order
      .item.item-divider order

      .item(ng-repeat-start="item in order")
        span.quantity {{ item.quantity }}x
        span.badge {{ item.base_price | currency : "&#8377 " }}
        span {{ item.name }}
        span(ng-if='item.size') : {{ item.size }}
      .item(ng-repeat-end ng-repeat='sel in item.custom').customization
        span.badge {{ sel.price | currency : "&#8377 " }}
        .customization-selection
          | {{ sel.name }}
      .item
        span.badge {{ amount.tax | currency : "&#8377 "}}
        span VAT (where applicable)
      .item(ng-if='amount.delivery_charges > 0')
        span.badge {{ amount.delivery_charges | currency : "&#8377 "}}
        span Delivery charges
      .item.positive-bg.light
        span.badge.badge-dark {{ amount.net_amount_payable | currency : "&#8377 "}}
        span Net Amount payable


      .item.item-divider customer information
      .item.item-icon-left.item-text-wrap
        i.icon.ion-person
        | {{ details.name }}
      .item.item-icon-left
        a(ng-href='tel:{{details.phone}}').balanced
          i.icon.ion-ios-telephone
          | {{ details.phone }}
      .item.item-icon-left
        a(ng-href='mailto:{{details.email}}').positive
          i.icon.ion-email
          | {{ details.email }}
      .item.item-icon-left.item-text-wrap
        i.icon.ion-ios-home
        | {{ details.address }}
