doctype html
html(ng-app='app')
  head(ng-controller='HeadCtrl')
    meta(charset='utf-8')
    meta(name="viewport"
         content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"
         )
    meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:35729")
    title Tyrion Merchants

    - var jsFiles = ['ionic/js/ionic.bundle', 'underscore/underscore-min', 'angular-ui-router/release/angular-ui-router.min']
    each file in jsFiles
      script(src='lib/'+file+'.js')
    script(src='custom_lib/md5.js')

    link(ng-href='{{::sheet}}' rel='stylesheet' ng-repeat='sheet in style_sheets')

    // Other app javascript here in a minute
    - var coreJs = ['app', 'config']
    each file in coreJs
      script(src='js/'+file+'.js')

    - var controllers = ['login', 'newOrders', 'currentOrders', 'pastOrders', 'orderDetails', 'head']
    each file in controllers
      script(src='js/controllers/'+file+'.js')

    - var services = ['core', 'utilities']
    each file in services
      script(src='js/services/'+file+'.js')

    - var directives = ['orderCard']
    each file in directives
      script(src='js/directives/'+file+'.js')

  body(animation="slide-left-right-ios7" ng-controller='DeviceCtrl')
    div(ng-if='isPhone')
      ion-nav-bar.bar-stable
        ion-nav-back-button.button-icon.icon.ion-ios-arrow-back Back
      ion-nav-view
    .container-fluid(ng-if='!isPhone')
      ui-view
