doctype html
html(ng-app='app')
  head(ng-controller='HeadCtrl')
    meta(charset='utf-8')
    meta(name="viewport"
         content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"
         )
    title Tyrion Merchants

    link(href='lib/ionic/css/ionic.css' rel='stylesheet')
    - var jsFiles = ['ionic/js/ionic.bundle', 'underscore/underscore-min']
    each file in jsFiles
      script(src='lib/'+file+'.js')
    //script(src='lib/ionic/js/ionic.bundle.js')
    script(src='custom_lib/md5.js')

    //link(href='css/ionic.app.css' rel='stylesheet')
    link(ng-href='{{main_css}}' rel='stylesheet')

    // Other app javascript here in a minute
    - var coreJs = ['app', 'config']
    each file in coreJs
      script(src='js/'+file+'.js')

    - var controllers = ['login', 'newOrders', 'currentOrders', 'pastOrders', 'orderDetails', 'head']
    each file in controllers
      script(src='js/controllers/'+file+'.js')

    - var services = ['core', 'utilities']
    each file in services
      script(src='js/services/'+file+'.js')

  body(animation="slide-left-right-ios7" ng-controller='DeviceCtrl')
    div
      div
        ion-nav-bar.bar-stable(ng-if='isPhone()')
          ion-nav-back-button.button-icon.icon.ion-ios-arrow-back Back
        ion-nav-view
