#loginPageSpacer {
  height: 40px
}

ion-content {
  background: url("../img/food.png") repeat;
}
ion-side-menu ion-content {
  background: $dark;
  .list .item {
    background: $dark;
    color: $light;
  }
}

.pull-right {
  float: right;
}

.text-small {
  font-size: 0.9em;
}
.text-large {
  font-size: 1.5em;
}

.quantity {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  font-size: 0.84em;
  background: lighten($dark, 20%);
  color: $light;
  border-radius: 20%;
}

.customization {
  padding: 10px 10px 10px 60px;
  .customization-selection {
    font-size: 0.84em;
    display: inline-block;
    width: 67%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ion-tabs .tab-nav {
  background: lighten($energized, 40%) !important;
}

.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.center > * {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.wait-message {
  width: 100% !important;
  text-align: center;
  font-size: 1.2em;
  align-content: center;
}

