#loginPageSpacer {
  height: 40px
}

ion-content {
  background: url("../img/food.png") repeat;
}

.pull-right {
  float: right;
}

.text-small {
  font-size: 0.9em;
}

.quantity {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  font-size: 0.84em;
  background: lighten($dark, 20%);
  color: $light;
  border-radius: 20%;
}

.customization {
  padding: 10px 10px 10px 60px;
  .customization-selection {
    font-size: 0.84em;
    display: inline-block;
    width: 67%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ion-tabs .tab-nav {
  background: lighten($energized, 40%) !important;
}
